
.equipe-content{
    height:65vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: blueviolet; */
}
.photo img{
     height: 400px;
     width: 400px;
     border-radius: 5px;

}
.para{
    height:400px;
    width: 400px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.para p{
    text-align:justify;
    font-weight:300;
    font-size: 20px;
    color: black;
}
.para h1{
     font-weight:400;
     color:lightseagreen;
}
/* equipe */
.image img,.image1 img,.image2 img,.image3 img,.image4 img,.image5 img{
    height: 200px;
    width: 200px;
    border-radius:50%;
    object-fit: cover;
    overflow: hidden;
}
.image,.image1,.image2,.image3,.image4,.image5{
    height: auto;
    width: auto;
    background-color:whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
    transition:0.5s;

}
.image1:hover,
.image2:hover,
.image3:hover,
.image4:hover,
.image5:hover{
    transform: scaleX(1.5);
   
}
.image p,.image1 p,.image2 p,.image3 p,.image4 p,.image5 p{
    color:lightseagreen;
    font-weight: 400;

}
.equipe{
    height:65vh;
    width: 100%;
    background-color:lightseagreen;
    
}
.notre-equipe{
   height: 10vh;
   width: 100%;
   display: flex;
   justify-content:start;
   align-items: center;
   padding: 10px;
}
.notre-equipe h1{
    font-weight: 400;
    font-size: 20px;
}
.equipe2{
    height:55vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container3{
    height:40vh;
    width:100%;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 10px;
} 
.container3 p{
    line-height: 1.5;
    color:black;
    font-weight: 300;
}
.container3 h2{
    font-weight: 400;
    color:rgb(0, 126, 128);
   
}
.table{
    height: 60vh;
    width: 100%;
    background-color:whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}

table{
    height: 300px;
    width: 600px;
    text-align: center;
    border-collapse: collapse;

}
th,td{

    background-color: lightseagreen;
}
caption{
    color:black;
    font-weight: 800;
}


 footer{
    height:40vh;
    width: 100%;
    background-color:silver;
 }
 .all-footer{
    height:30vh;
    width: 100%;
    display: flex;
    justify-content:space-around;
    align-items: center;
 }
.copy{
    height:10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.copy p{
color: lightseagreen;
font-weight: 700;
border-top: 1px solid lightseagreen;
}
